<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logdir" value="logs"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="logs_base"
          xsi:type="File"
          layout="[${longdate}][${level}] ${message}"
          concurrentWrites="true"
          keepFileOpen = "false"
          fileName="${basedir}/${logdir}/${logger}.log"
          encoding="utf-8"/>
    <target xsi:type="Console"
          name="console"
          layout="[${longdate}][${level}] ${message}"
          encoding="utf-8"/>
  </targets>
  <!--
  Fatal	Highest level: important stuff down
  Error	For example application crashes / exceptions.
  Warn	Incorrect behavior but the application can continue
  Info	Normal behavior like mail sent, user updated profile etc.
  Debug	Executed queries, user authenticated, session expired
  Trace	Begin method X, end method X etc
 -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logs_base" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>